.btn-circle {
  position: relative;
  color: #ffffff!important;
  border: none;
}

.btn-circle.btn-sm {
  width: 50px;
  height: 50px;
  padding: 7px 10px;
  border-radius: 25px;
  text-align: center;
  font-size: 26px;
  line-height: 26px;
  span {
    font-size: 22px;
  }
}
.btn-circle.btn-md {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  span {
    font-size: 32px;
  }
}
.btn-circle.btn-lg {
  width: 100px;
  height: 100px;
  padding: 10px 16px;
  border-radius: 60px;
  text-align: center;
  font-size: 60px;
  line-height: 60px;
  span {
    font-size: 54px;
  }
}
.btn-circle.btn-xl {
  width: 200px;
  height: 200px;
  padding: 10px 16px;
  border-radius: 120px;
  font-size: 68px;
  line-height: 68px;
  text-align: center;
  span {
    font-size: 64px;
  }
}
.btn-circle:active, .btn-circle:focus, .btn-circle:active:focus {
  outline: none;
}

.btn-success {
  box-shadow: 0 0 0 3px rgba(40, 167, 69, .3)!important;
}
.btn-danger {
  box-shadow: 0 0 0 3px rgba(200, 35, 51, .3)!important;
}
.btn-warning {
  box-shadow: 0 0 0 3px rgba(255, 193, 7,.3)!important;
  span {
    animation: rotator 900ms linear infinite;
  }
  &:active, &:focus {
    color: #FFFFFF;
  }
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(180deg); }
}
