<button
  (click)="toggle()"
  [disabled]="options.disabled"
  [ngClass]="{'btn-success': !options.value && !loading, 'btn-danger': options.value && !loading, 'btn-warning':loading}"
  [class.btn-sm]="btnSize == 'sm'"
  [class.btn-md]="btnSize == 'md'"
  [class.btn-lg]="btnSize == 'lg'"
  [class.btn-xl]="btnSize == 'xl'"
  class="btn btn-circle"
  type="button"
>
  <ng-template [ngIf]="loading" [ngIfElse]="normal">
    <span class="material-icons-outlined">cached</span>
  </ng-template>
  <ng-template #normal>
    <span class="material-icons-outlined">power_settings_new</span>
  </ng-template>
</button>
